body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  border: #555555 1px dashed;
}

.square {
  height: 80px;
  width: 80px;
}


