body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 400px;
  border:#DC143C 2px solid;
  border-radius: 15px;
  background-color: #c8385a;
  margin-bottom: 20px;
}

button {
  width: 200px;
  height: 50px;
  margin: 10px;
  margin-top: 0;
  margin-left: calc((100% - 200px) / 2);
  background-color: #ff5956;
  border-radius: 5px;
  border: #fd312e 2px solid;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

input {
  margin-left: calc((100% - 200px) / 2);
  margin-top: 5px;
  margin-bottom: 5px;
}
